.signinToggle {
    display: flex;
    column-gap: 1rem;
}

.loggedInUser {
    color: white;
    margin: auto;
}

.signinToggleButton {
    border: none;
    border-radius: 5px;
    padding: 0.25rem 1rem;
}
