.deleteUser {
    background: none;
    color: red;
    padding-left: 1rem;
    border: none;
    cursor: pointer;
}

.cancelDelete {
    color: rgb(86, 83, 83);
    background: none;
    padding-left: 1rem;
    border: none;
    cursor: pointer;
}

.deletingUser {
    color: red;
    padding-left: 1rem;
}

.deleteForm {
    display: flex;
    flex-direction: row;
}
